html, body, h1, p, a, div, article {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

html, body {
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-family: "Mplus 1p";
}

.spo {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  -webkit-animation: pagetrans 0.7s ease infinite alternate;
  animation: pagetrans 0.7s ease infinite alternate;
}

body {
  font-size: 1.1vw;
}

h1 {
  font-size: 3vw;
  font-weight: 100;
  line-height: 20vh;
  letter-spacing: 1vw;
}

h2 {
  font-size: 2.5vw;
  font-weight: 200;
  line-height: 2vh;
  letter-spacing: 0.7vw;
}

.small {
  font-size: 0.6vw;
}

.lcolumn {
  display: inline-block;
  margin: 0 0 3vh 2vw;
  float: left;
  width: 45%;
}

.rcolumn {
  display: inline-block;
  margin: 0 0 3vh 0;
  float: right;
  width: 45%;
}

#rental1 {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%), url(../imgs/restraunt2.jpg);
  background-size: cover;
  position: relative;
}
#rental1 article {
  line-height: 3.5vh;
  letter-spacing: 0.2vw;
  background-color: rgba(0, 0, 0, 0.6);
  width: 90vw;
  height: 68vh;
  margin: auto;
}
#rental1 article .pli {
  list-style: none;
}
#rental1 article .pli li {
  padding: 1vh 0% 0% 1vw;
  height: 9vh;
}
#rental1 article .pli li:nth-of-type(1) {
  background-color: #0092BA;
}
#rental1 article .pli li:nth-of-type(2) {
  background-color: #D00;
}

#rental2, #rental3 {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%), url(../imgs/restraunt2.jpg);
  background-size: cover;
  position: relative;
}
#rental2 article, #rental3 article {
  line-height: 3.5vh;
  letter-spacing: 0.2vw;
  background-color: rgba(0, 0, 0, 0.6);
  width: 90vw;
  height: 68vh;
  margin: auto;
}
#rental2 article .lcolumn .pli, #rental3 article .lcolumn .pli {
  list-style: none;
}
#rental2 article .lcolumn .pli li, #rental3 article .lcolumn .pli li {
  padding: 1vh 0% 0% 1vw;
  height: 9vh;
}
#rental2 article .lcolumn .pli li:nth-of-type(1), #rental3 article .lcolumn .pli li:nth-of-type(1) {
  background-color: #d333a3;
}
#rental2 article .lcolumn .pli li:nth-of-type(2), #rental3 article .lcolumn .pli li:nth-of-type(2) {
  background-color: #02b300;
}
#rental2 article .rcolumn .pli, #rental3 article .rcolumn .pli {
  list-style: none;
}
#rental2 article .rcolumn .pli li, #rental3 article .rcolumn .pli li {
  padding: 1vh 0% 0% 1vw;
  height: 9vh;
}
#rental2 article .rcolumn .pli li:nth-of-type(1), #rental3 article .rcolumn .pli li:nth-of-type(1) {
  background-color: #ff6600;
}
#rental2 article .rcolumn .pli li:nth-of-type(2), #rental3 article .rcolumn .pli li:nth-of-type(2) {
  background-color: #00cc00;
}
#rental2 article .rcolumn .pli li:nth-of-type(3), #rental3 article .rcolumn .pli li:nth-of-type(3) {
  background-color: #ff0000;
}
#rental2 article .rcolumn .pli li:nth-of-type(4), #rental3 article .rcolumn .pli li:nth-of-type(4) {
  background-color: #0066ff;
}

.scr {
  position: absolute;
  width: 10vw;
  height: 10vh;
  left: 75%;
  bottom: 40%;
}
.scr span:nth-of-type(1) {
  position: absolute;
  top: 0;
  width: 3.5vw;
  height: 6vw;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.scr span:nth-of-type(1):before {
  position: absolute;
  top: 1vh;
  left: 50%;
  content: '';
  width: 8px;
  height: 8px;
  margin-left: -4px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
.scr p {
  display: block;
  position: absolute;
  bottom: -7vh;
  left: -5.5vw;
  font-size: 2vw;
  font-weight: 100;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 8vh);
    transform: translate(0, 8vh);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 8vh);
    transform: translate(0, 8vh);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadel {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadel {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pagetrans {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pagetrans {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


