html, body, h1, p, a, div, article {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

html, body {
  background-color: #000;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-family: "Mplus 1p";
  overflow: hidden;
}

.pco, .japanese {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-size: 4vw;
  position: relative;
  right: 0;
}

h1 {
  font-size: 12vw;
  font-weight: 100;
  line-height: 12vh;
  letter-spacing: 2vw;
}

h2 {
  font-size: 10vw;
  font-weight: 200;
  line-height: 7vh;
  letter-spacing: 0.7vw;
}

.small {
  font-size: 3vw;
}

.lcolumn {
  display: block;
  margin: 0 0 0 2vw;
  width: 100vw;
}

.rcolumn {
  display: block;
  margin: 0 0 0 2vw;
  width: 100vw;
}

#top {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%), url(../imgs/topimgsp.jpg);
  background-size: cover;
  -webkit-animation: fade 1s ease-in 1;
  animation: fade 1s ease-in 1;
}
#top article:nth-child(1) {
  padding: 0 0 0 3vw;
  margin: 0 0 0 5vw;
  letter-spacing: 2vw;
  border-left: solid 1px #ffffff;
  font-family: "Libre Baskerville", serif;
}
#top article:nth-child(1) p:nth-child(1) {
  color: #fed7c6;
  -webkit-animation: fade 2s ease-in 1;
  animation: fade 2s ease-in 1;
}
#top article:nth-child(1) p:nth-child(1):first-letter {
  font-size: 10vw;
}
#top article:nth-child(1) p:nth-child(1) span {
  -webkit-animation: fadel 2.5s ease-in 1;
  animation: fadel 2.5s ease-in 1;
}
#top article:nth-child(1) p:nth-child(2) {
  color: #ced9ef;
  -webkit-animation: fade 2s ease-in 1;
  animation: fade 2s ease-in 1;
}
#top article:nth-child(1) p:nth-child(2):first-letter {
  font-size: 10vw;
}
#top article:nth-child(1) p:nth-child(2) span {
  -webkit-animation: fadel 2.5s ease-in 1;
  animation: fadel 2.5s ease-in 1;
}
#top article:nth-child(1) p:nth-child(3) {
  color: #f5f5cf;
  -webkit-animation: fade 2s ease-in 1;
  animation: fade 2s ease-in 1;
}
#top article:nth-child(1) p:nth-child(3):first-letter {
  font-size: 10vw;
}
#top article:nth-child(1) p:nth-child(3) span {
  -webkit-animation: fadel 2.5s ease-in 1;
  animation: fadel 2.5s ease-in 1;
}
#top article:nth-child(1) p:nth-child(4) {
  font-size: 8vw;
  -webkit-animation: fadel 3.5s ease-in 1;
  animation: fadel 3.5s ease-in 1;
}
#top article:nth-child(2) {
  line-height: 3.5vh;
  letter-spacing: 0.2vw;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-animation: fadel 3s ease-in 1;
  animation: fadel 3s ease-in 1;
}
#top article:nth-child(2) div {
  -webkit-animation: fadel 4.5s ease-in 1;
  animation: fadel 4.5s ease-in 1;
}
#top article:nth-child(2) div p {
  margin: 0 0 0 2vw;
}

#about {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%), url(../imgs/schebg.jpg);
  background-size: cover;
}
#about article {
  line-height: 3.5vh;
  letter-spacing: 0.2vw;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  margin: auto;
}

#news {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%);
  background-size: cover;
  position: relative;
}

#sche {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%), url(../imgs/restraunt2.jpg);
  background-size: cover;
}
#sche .wrap {
  max-width: 100vw;
  margin: 0 auto;
  font-size: 2vw;
}
#sche .wrap .month .week {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 11.5vh;
}
#sche .wrap .month .week:first-of-type .day:nth-of-type(-n+3) {
  opacity: 0;
}
#sche .wrap .month .week:last-of-type .day:nth-of-type(n+7) {
  opacity: 0;
}
#sche .wrap .month .week .day:first-of-type {
  background-color: rgba(255, 0, 0, 0.6);
}
#sche .wrap .month .week .day:last-of-type {
  background-color: rgba(255, 0, 0, 0.6);
}
#sche .wrap .month .day {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5vh;
}
#sche .wrap .month .day .rent {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  background-color: rgba(26, 154, 105, 0.6);
}
#sche .wrap .month .day .rent div {
  display: none;
  position: absolute;
  width: 20vw;
  height: 20vh;
  z-index: 50;
  background-color: #1a9a69;
}
#sche .wrap .month .day .rent:hover > div {
  display: block;
}
#sche .wrap .month .day .live {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  background-color: rgba(174, 138, 73, 0.9);
}
#sche .wrap .month .day .live div {
  display: none;
  position: absolute;
  top: 20vh;
  width: 20vw;
  height: 20vh;
  z-index: 50;
  background-color: #ae8a49;
}
#sche .wrap .month .day .live:hover > div {
  display: block;
}

#live {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%), url(../imgs/restraunt2.jpg);
  background-size: cover;
}
#live article {
  line-height: 3.5vh;
  letter-spacing: 0.2vw;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  margin: auto;
}
#live article ul {
  list-style: none;
  padding: 0;
}
#live article ul li {
  height: 14vh;
}
#live article ul li:nth-of-type(1) {
  background-color: rgba(26, 154, 105, 0.9);
}
#live article ul li:nth-of-type(2) {
  background-color: rgba(174, 138, 73, 0.9);
}
#live article ul li:nth-of-type(3) {
  background-color: rgba(186, 186, 186, 0.9);
}
#live article ul li:nth-of-type(4) {
  background-color: rgba(195, 169, 30, 0.9);
}

#rental {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%);
  background-size: cover;
}

#equip {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%), url(../imgs/restraunt2.jpg);
  background-size: cover;
}
#equip article {
  line-height: 3.5vh;
  letter-spacing: 0.2vw;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  margin: auto;
}
#equip article ul {
  list-style: none;
}

#fd {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%);
  background-size: cover;
}

#access {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 60%);
  background-size: cover;
}
#access article {
  line-height: 3.5vh;
  letter-spacing: 0.2vw;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  margin: auto;
}
#access article .gmap {
  height: 55vh;
  width: 100vw;
}

nav {
  position: fixed;
  top: 0;
  right: -30vw;
  width: 30vw;
  height: 100%;
  background: #E87272;
  background: repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
}
nav div {
  display: block;
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  z-index: 2;
}
nav div p:nth-child(1) {
  font-size: 15vw;
  font-weight: 100;
  letter-spacing: -4.5vw;
  line-height: 6vh;
  color: #8C8C8C;
  opacity: 0.7;
}
nav div p:nth-child(2) {
  font-size: 3.5vw;
  font-weight: 100;
  letter-spacing: 0.65vw;
  color: #8C8C8C;
}
nav:after {
  background: #F9F9F9;
  margin: 10px;
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border: 1px #E5E5E5 solid;
  border-radius: 8px;
}
nav ul {
  position: absolute;
  list-style: none;
  line-height: 7vh;
  margin: 11vh auto;
  padding: 0 0 0 4vw;
  z-index: 999;
}
nav ul li {
  padding: 0;
}
nav ul li .jpn {
  display: none;
}
nav ul li .eng {
  letter-spacing: 0.2vw;
  font-size: 3vw;
  color: #8C8C8C;
}

#button {
  position: fixed;
  color: #fff;
  top: 2vh;
  right: 2vh;
  width: 14vw;
  height: 14vw;
  background-color: rgba(255, 255, 0, 0.6);
  outline: none;
  border: none;
  font-size: 4vw;
  border-radius: 50%;
}

footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  z-index: 100;
}
footer img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

#top:target {
  -webkit-animation: pagetrans 0.8s ease-in-out 1;
  animation: pagetrans 0.8s ease-in-out 1;
}

*:target {
  -webkit-animation: pagetrans 0.8s ease-in-out 1;
  animation: pagetrans 0.8s ease-in-out 1;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadel {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadel {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pagetrans {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pagetrans {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


