@charset "utf-8";
/* リセット */
html, body, h1, p, a, div, section{
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}


/* スクロール禁止 */
html,body{
    overflow: hidden;
}


/*リンク設定*/

a{
  text-decoration: none;
  color:#fff;
}

a:hover{
  animation:blink 0.7s ease-in-out infinite alternate;
}

/*フォント設定*/

h1{
  font-size:30px;
  font-weight:bold;
}

.large{
  font-size:42px;
}

.midlarge{
  font-size:30px;
}

/*背景*/

body{
  background-color:#000000;
  color:#ffffff;
}

.wrap{
  overflow-x: hidden;
}


/*トップ*/

.top{
  height:100vh;
  width:100vw;
  animation: blink 0.7s ease-in 1 alternate;
  background:linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0)60%),url(../imgs/topimg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  padding-top: 70px;
  margin-left: 100px;
  padding-left: 10px;
  letter-spacing:10px;
  border-left: solid 1px #ffffff;
  font-family: 'Libre Baskerville', serif;
}

.pink{
  color: #fed7c6;
}
.blue{
  color: #ced9ef;
}
.yellow{
  color: #f5f5cf;
}

#whatis{
  padding-top:30px;
  padding-bottom:30px;
  padding-left:20px;
  position:absolute;
  display:block;
  line-height:30px;
  width:50%;
  height: 200px;
  top: 90px;
  right:50px;
  font-size:16px;
  font-family: "Mplus 1p";
  background-color: rgba(0, 0, 0, 0.7);
}


/*ニュース*/

.news{
  height:100vh;
  width:100vw;
  padding-top:10px;
  background:url(../imgs/restraunt.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexabove{
  display:flex;
  list-style: none;
  width:90%;
  height:200px;
}

.flexabove li{
  width:20%;
  background-color:#D00;
  transition: transform 0.5s linear;
}

.flexabove li:hover {
  transform: scale(1.15);
  z-index:2;
}

.flexabove li:nth-child(1){
  font-size:36px;
  width:40%;
  background-color:#000;
  line-height: 180px;
  text-align:center;
}

.flexabove li:nth-child(3){
  width:40%;
  background-color:#00B667;
}

.flexbelow{
  display:flex;
  list-style: none;
  width:90%;
  height:200px;
}

.flexbelow li{
  width:20%;
  background-color:#D00;
  transition: transform 0.5s linear;
}

.flexbelow li:hover {
  transform: scale(1.15);
  z-index:2;
}

.flexbelow li:nth-child(2){
  width:40%;
  background-color:#0092BA;
}

.flexbelow li:nth-child(4){
  background-color:#7600BA;
}
.newstitle{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.75;
  font-size:26px;
  font-family: "Mplus 1p";
}

.topics{
  font-size:26px;
  font-family: "Mplus 1p";
}

.ndetails{
  display:none;
  font-size:16px;
  font-family: "Mplus 1p";
}

.topics:hover > .nabout{
  display:none;
}

.topics:hover > .ndetails{
  display:block;
}

.flexabove li{
  opacity:0.75;
  transition: opacity 0.3s ease-out;
}

.flexabove > li:hover{
  opacity:1.0;
}

.flexbelow li{
  opacity:0.7;
  transition: opacity 0.3s ease-out;
}

.flexbelow > li:hover{
  opacity:1.0;
}

.topics:nth-child(1):hover + .shownews1{
  display:block;
}

.topics:nth-child(1):hover + .shownews1{
  display:block;
}

.shownews1{
  position:relative;
  display:none;
  background-color;#000;
  width:90%;
  height:200px;
  z-index:2;
}


/*スケジュール*/

.schedule{
  height:100vh;
  width:100vw;
  padding-top:10px;
  background:url(../imgs/top.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*価格表*/

.pricelist{
  height:100vh;
  width:100vw;
  padding-top:10px;
  background:url(../imgs/restraunt2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pflexcont{
  display:flex;
  height:60%;
  margin:15px;
  font-family: "Mplus 1p";
}

.pitemwrap:nth-child(1){
  flex-grow:1;
  background-color:rgba(0,0,0,0.9);
  padding:10px;
}

.pitemwrap:nth-child(2){
  display:flex;
  flex-direction:column;
  flex-grow:3;
  font-family: "Mplus 1p";
  font-size:16px;
}

.pcontents{
  margin:4px;
  background-color:rgba(0,0,0,0.9);
}

.pcontents:nth-child(1){
  flex-grow:1;
  background-color:rgba(26,154,105,0.9);
}

.pcontents:nth-child(2){
  flex-grow:2;
  background-color:rgba(174,138,73,0.9);
}

.pcontents:nth-child(3){
  flex-grow:2;
  background-color:rgba(186,186,186,0.9);
}

.pcontents:nth-child(4){
  flex-grow:2;
  background-color:rgba(195,169,30,0.9);
}

.pcontents:nth-child(5){
  flex-grow:2;
  background-color:rgba(164,72,204,0.9);
}

.mini{
  font-size:11px;
}

.pricedetail{
  display:flex;
  list-style: none;
  width:90%;
  overflow:hidden;
}

.pricedetail li{
  flex-grow:1;
}


/*常設機材*/

.equipment{
  height:100vh;
  width:100vw;
  padding-top:10px;
  background:linear-gradient(135deg, rgba(31, 63, 50, 1) 0%,rgba(0, 0, 0, 1)100%);
  background-size: cover;
}

.eqcont{
  display:block;
  height:60%;
  width:100%;
  margin:15px auto;
  font-family: "Mplus 1p";
  background-color:rgba(0,0,0,0.7);
}

.eqcont ul{
  display:inline-block;
  list-style:none;
}


/*飲食物メニュー*/

.fooddrink{
  height:100vh;
  width:100vw;
  padding-top:10px;
  background:url(../imgs/ballantines.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fdflexcont{
  display:flex;
  height:60%;
  width:100%;
  margin:15px;
  font-family: "Mplus 1p";
}

.fditemwrap:nth-child(1){
  flex-grow:0;
  background-color:rgba(0,0,0,0.9);
  padding:10px;
}

.fditemwrap:nth-child(2){
  display:flex;
  flex-direction:column;
  flex-grow:3;
  font-size:16px;
}

.drinks{
  display:flex;
  align-items: baseline;
  list-style: none;
  width:90%;
  height:200px;
}

.drinks li{
  margin:5px;
  width:150px;
  height:150px;
  opacity:0.7;
  transition: transform 0.5s linear;
  transition: opacity 0.5s linear;
}

.drinks li:hover {
  transform: scale(1.15);
  opacity:1;
  z-index:2;
}

.drinks li:nth-child(1){
  background-color:#D00;)
}
.drinks li:nth-child(2){
  background-color:#00B667;
}
.drinks li:nth-child(3){
  background-color:#D00;)
}
.drinks li:nth-child(4){
  background-color:#00B667;
}
.drinks li:nth-child(5){
  background-color:#D00;
}

.foods{
  display:flex;
  align-items: baseline;
  list-style: none;
  width:90%;
  height:200px;
}

.foods li{
  margin:5px;
  width:150px;
  height:150px;
  opacity:0.7;
  transition: transform 0.5s linear;
  transition: opacity 0.5s linear;
}

.foods li:hover {
  transform: scale(1.15);
  opacity:1;
  z-index:2;
}


.foods li:nth-child(1){
  background-color:#00B667;
}
.foods li:nth-child(2){
  background-color:#D00;)
}
.foods li:nth-child(3){
  background-color:#00B667;
}
.foods li:nth-child(4){
  background-color:#D00;
}
.foods li:nth-child(5){
  background-color:#00B667;
}


/*アクセス*/

.access{
  height:100vh;
  width:100vw;
  padding-top:10px;
  background:linear-gradient(135deg, rgba(38, 31, 63, 1) 0%,rgba(0, 0, 0, 1)100%);
  background-size: cover;
}

.acflexcont{
  display:flex;
  height:60%;
  width:100%;
  margin:15px;
  font-family: "Mplus 1p";
}

.acflexitem{
  flex-grow:1;
  background-color:rgba(0,0,0,0.8);
  padding:10px;
}

.acflexitem:nth-child(2){
  flex-grow:2;
  background-color:rgba(0,0,0,0.8);
  padding:10px;
}


/*問い合わせ*/

.contact{
  height:100vh;
  width:100vw;
  padding-top:10px;
  background:linear-gradient(135deg, rgba(38, 31, 63, 1) 0%,rgba(0, 0, 0, 1)100%);
  background-size: cover;
}

.required{
  color:#f00;
}

.contactwrap{
  font-family: "Mplus 1p";
  position:relative;
  margin:10px auto;
  width:400px;
  min-height:200px;
  z-index:100;
  padding:30px;
  background:rgba(0,0,0,0.7);
}

input:not([type="submit"]),
textarea{
  outline:none;
  display:block;
  width:380px;
  padding:4px 8px;
  border:1px solid #bbbbbb;
  color:#333333;
  font-size:12px;
  transition:background 0.2s linear,
}

input:not([type="submit"]):active,
textarea:active,
input:not([type="submit"]):focus,
textarea:focus{
background:#ddd;
border:solid 1px #0b3764;
}

input:not([type="submit"]){
height: 20px;
}

textarea{
min-height:100px;
resize:vertical
}

::-webkit-input-placeholder  {
color:#aaa;
}

input:-moz-placeholder,
textarea:-moz-placeholder{
color:#aaa;
}

input[type=submit]{
margin-left:300px;
cursor:pointer;
border:none;
color:#333;
font-size:18px;
padding:4px 16px;
border:1px solid #0b3764;
background: rgb(255,255,255);
border-radius:2px;
}
 
input[type=submit]:hover{
color:#686868;
border-color: #333;
background:#aaa;
}


/*メニュー*/

.navbar{
  top: 70%;
  width: 100%;
  background: repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px);
  border-radius:8px;
  height: 150px;
  z-index: 99;
  position: fixed;
  animation: blink 0.3s ease-in 1 alternate;
}

.navbar:after{
  background:#F9F9F9;
  margin:10px;
  position: absolute;
  content : " ";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border:1px #E5E5E5 solid;
  border-radius:8px;
}

.navbar:hover{
  top: 70%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 150px;
  z-index: 99;
  position: fixed;
  animation: blink 0.3s ease-in 1 alternate;
}

.logo{
  height:100%;
  width:180px;
  padding-top: 40px;
  padding-left: 50px;
  box-sizing:border-box;
  display: inline-block;
  float:left;
  color:#8C8C8C;
  font-family: 'Noto Sans', sans-serif;
}

.ppc{
  color:#8C8C8C;
  font-size: 26px;
  letter-spacing: 14px;
  font-weight: bold;
}

.artsalon{
  color:#8C8C8C;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar ul{
  display: inline-block;
  padding-top: 30px;
  font-size:16px;
  color:#8C8C8C;
}

.navbar li{
  display: inline-block;
  list-style-type: none;
  position: relative;
  padding:15px;
  color:#8C8C8C;
}

a.menulink:active{
  display: inline;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 3px;
}

a.menulink > span.english{
  display: inline;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 3px;
  color:#8C8C8C;
}

a.menulink:hover > span.english{
  display: none;
}

a.menulink > span.japanese{
  display: none;
  font-size:13px;
  font-family: "Mplus 1p";
  color:#8C8C8C;
}
a.menulink:hover > span.japanese{
  display: inline;
}

.navbar li + li:before{
  content: '';
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: #8C8C8C;;
  position: relative;
  left: -20px;
  top: -3px;
}


/*フッター*/

.byplv{
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 45px;
  z-index:100;
  animation: blink 0.3s ease-in 1 alternate;
}

footer img{
   width: auto;
   max-height: 40px;
}


/*ページ遷移*/

#top:target{
  animation:fade 0.8s ease-in-out 1 alternate;
}

#news:target{
  animation:fade 0.8s ease-in-out 1 alternate;
}

#schedule:target{
  animation:fade 0.8s ease-in-out 1 alternate;
}

#pricelist:target{
  animation:fade 0.8s ease-in-out 1 alternate;
}

#equipment:target{
  animation:fade 0.8s ease-in-out 1 alternate;
}

#fooddrink:target{
  animation:fade 0.8s ease-in-out 1 alternate;
}

#contact:target{
  animation:fade 0.8s ease-in-out 1 alternate;
}

#access:target{
  animation:fade 0.8s ease-in-out 1 alternate;
}


/*アニメーション*/

@keyframes blink{
  0%{opacity:0;}
  100%{opacity:1;}	
}

@keyframes fade{
  0%{opacity:0;}
  100%{opacity:1;}	
}