#ctx {
	display: none;
	position: absolute;
	margin: 0;
	padding: 2px;
	border: 1px solid gray;
	list-style-type: none;
	background: #EEE;
	font-size: 0.75em;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

#ctx > li {
	padding: 5px 20px 5px 10px;
	cursor: default;
}

#ctx > li:hover {
	background: #06c;
	color: white;
}