/* Scss Document */
#modal, #modalContens {
  display: none;
}

#overlay {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
}

#popupContents input, #popupContents textarea {
  box-sizing: border-box;
  border: none;
  padding: 3px 0;
  width: 100%;
}

#popupContents {
  width: 1000px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -500px;
  margin-bottom: 200px;
  z-index: 102;
  padding: 1em 1.5em;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #666666;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}
#popupContents table {
  border-collapse: collapse;
  width: 100%;
}
#popupContents table th, #popupContents table td {
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 5px 0.5em;
  text-align: left;
  font-weight: lighter;
}
#popupContents table th {
  width: 150px;
  background: #f0f0f0;
}
#popupContents table td a {
  color: #0066ff;
}
#popupContents table td .sample_image {
  width: 150px;
}
#popupContents table td .sample_image img {
  width: 100%;
}
#popupContents p {
  margin-top: 10px;
  text-align: center;
}
#popupContents p span {
  cursor: pointer;
}
#popupContents label input {
  width: auto;
}
#popupContents h2 img {
  position: absolute;
  cursor: pointer;
}
#popupContents .btn {
  width: auto;
  display: inline-block;
  border-radius: 3px;
  color: #ffffff;
  padding: 3px 20px;
  font-size: 18px;
  background: #6da8c5;
  border-color: #0073aa;
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
}

#closeImg {
  right: 1em;
}

#saveImg, #saveImg_new {
  right: 65px;
}

#printImg {
  right: 105px;
}

.postal {
  width: 80px !important;
}

.address {
  width: 500px !important;
}

.check_design {
  cursor: pointer;
  position: relative;
}
.check_design input[type="radio"] {
  display: none !important;
}
.check_design input[type="radio"]:checked + .lever {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
}
.check_design input[type="radio"]:checked + .lever:before {
  left: 100%;
  margin-left: -44px;
  border-color: #fff;
}
.check_design .lever {
  color: #ccc;
  font-weight: normal;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid #e5e5e5;
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.check_design .lever:before {
  border-color: #ddd;
}

.radio_box input[type="radio"]:checked + .lever {
  background: #e67168;
  border-color: #e67168;
}

.control {
  position: relative;
}
.control #delete {
  position: absolute;
  right: 0;
  background: #ce481b;
}

#file_upload_form input {
  width: auto;
}
#file_upload_form #fileup {
  background: url("../images/photo.png") no-repeat, #6da8c5;
  background-size: 20%;
  background-position: 50% 10%;
  width: 55%;
  float: right;
  color: #ffffff;
  height: 140px;
  line-height: 180px;
}
#file_upload_form span {
  font-size: 14px;
  color: #ff0004;
  display: block;
}

@keyframes bigEntrance {
  0% {
    transform: scale(0.3);
    opacity: 0.2;
  }
  30% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes bigEntranceR {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(0.3);
    opacity: 0.2;
  }
}
