@charset "utf-8";

#wrapper {
	width: 100%;
}

table#list_table {
	white-space: nowrap;
	background: #ffffff;
}

table#list_table th {
	color: #36F;
}

table#list_table tr:hover {
	background: rgba(0, 211, 255, 0.8) !important;
	cursor: default;
}

table#list_table td {
	padding-right: 25px !important;
}

table#list_table tr td:nth-of-type(6) {
	padding: 0 !important;
	vertical-align: top;
}



.check_design input[type="checkbox"]{
  display: none !important;
}

.check_design {
  cursor: pointer;
  position: relative;
}

.check_design .lever {
	color: #ccc;
	font-weight: normal;
	display: inline-block;
	transition: all 300ms cubic-bezier(1, 0, 0, 1);
	transition-timing-function: cubic-bezier(1, 0, 0, 1);
	width: 100%;
	height: 35px;
	text-align: center;
	line-height: 35px;
}

.check_design .lever:before {
	border-color: #ddd;
}

.check_design input[type="checkbox"]:checked + .lever{
	background: #5cb85c;
	border-color:#5cb85c;
	color: #fff;
}

.check_design input[type="checkbox"]:checked + .lever:before{
	left: 100%;
	margin-left: -44px;
	border-color: #fff;
}

